.content {
  height: 100vh;
  width: 100vw;
  background: #000;
}

.top-side {
  height: 13vh;
}

.centralize {
  position: fixed;
  left: 50%;
  transform: translate(-50%);
  height: 15%;
}

.bg {
  max-height: 100%;
}

#particles-js {
  height: 100%;
  mix-blend-mode: screen;
  z-index: 1 !important;
}

.body-main {
  max-width: 95%;
  height: 77%;
  margin: auto;

  h1 {
    color: #fff;
  }
}

.footer {
  /* position: fixed;
  left: 50%;
  transform: translate(-50%); */
  bottom: 0;
  background-image: linear-gradient(
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 80%,
    rgba(113, 121, 126, 1) 100%
  );
  height: 10vh;

  p {
    color: #fff;
    padding: 35px;
    text-align: center;
  }

  a {
    text-decoration: none;
    color: #fff;

    &:hover {
      color: rgba(113, 121, 126, 1);
      transition: 350ms ease-in-out;
    }
  }
}
